{
    "key": "key.json",
    "folder_id": "hj454",
    "image": "ubuntu-1604-lts",
    "disk_size": "10",
    "memory_gb": "2",
    "disk_name": "reddit-test",
    "image_family": "reddit-test",
    "subnet_id": "xgf5h45gh",
    "zone": "ru-central1-a"
}